#https://clang.llvm.org/extra/clang-tidy/#id2

Checks: |
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-switch-missing-default-case,
  -bugprone-throwing-static-initialization,
  -bugprone-incorrect-roundings,
  -bugprone-assignment-in-if-condition,
  -bugprone-reserved-identifier,
  clang-analyzer-security.*,
  -clang-analyzer-security.insecureAPI.strcpy,
  clang-diagnostic-*,
  -clang-diagnostic-writable-strings,
  cppcoreguidelines-*,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-use-enum-class,
  modernize-*,
  -modernize-use-nullptr,
  -modernize-macro-to-enum,
  -modernize-avoid-c-style-cast,
  -modernize-use-default-member-init,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-bool-literals,
  -modernize-use-auto,
  -modernize-avoid-variadic-functions,
  -modernize-use-using,
  performance-*,
  -performance-no-int-to-ptr,
  -performance-enum-size,
  